<include file="./Application/Admin/View/Public/top.html" />

	<frameset rows="61,*,24" cols="*" framespacing="0" frameborder="no" border="0">
 		<frame src="<{$url}>/top" name="top" scrolling="no" noresize="noresize" />
		<frameset cols="200, *">
  			<frame src="<{$url}>/menu" name="menu" noresize="noresize" scrolling="no" />
  			<frame src="<{$url}>/main" name="main" noresize="noresize" scrolling="yes"/>
		</frameset>
  		<frame src="<{$url}>/bottom" name="bottom" scrolling="No" noresize="noresize" />
	</frameset>
</html>


