body{
  background-color: #AAA;  
}
#logindev{
  position: absolute;
  top: 50%;
  right: 50%;
  //bottom: 10%;
  -webkit-transform: translate(50%,-50%);
  -moz-transform:  translate(50%,-50%);
  -ms-transform:  translate(50%,-50%);
  -o-transform:  translate(50%,-50%);
  transform:  translate(50%,-50%);
  background-color: #FFF;
}